/* Basic stuff for the website */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family: sans-serif;
}
  
#bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.content{
    position: absolute;
    top: 40%;
    left: 50%;
    width: 350px;
    height: 500px;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 30px;
    border-radius: 12px;
    background-color: #1a1a1a;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
    color: white;
    opacity: 70%;
}

.pfp{
    width: 150px;
    height: 150px;
    margin: 0 auto 20px;
    overflow: hidden;
    border-radius: 50%;
}

.pfp img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    display: block; 
}

/* Link things */
.instagram{
    background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex-shrink: 0;
    height: 4rem;
    padding: 0 1.6rem;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all .5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    height: 50px;
    font-size: larger;
    font-weight: 1000;
}

.instagram:hover{
    box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
    transition-duration: .1s;
}

.github{
    background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex-shrink: 0;
    height: 4rem;
    padding: 0 1.6rem;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all .5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    height: 50px;
    font-size: larger;
    font-weight: 1000;

    margin-top: 10px;
}

.github:hover{
    box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
    transition-duration: .1s;
}

.donate{
    background: linear-gradient(135deg, #E84B3C, #F2C511);
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex-shrink: 0;
    height: 4rem;
    padding: 0 1.6rem;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all .5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    height: 50px;
    font-size: larger;
    font-weight: 1000;

    margin-top: 10px;
}

.donate:hover{
    box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
    transition-duration: .1s;
}

/* Text */
.name{
    background: linear-gradient(270deg, 
    red, orange, yellow, green, cyan, violet, red);
    background-size: 1500% 1500%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbow 10s linear infinite;
}

/* Music */
.music-player{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    border-radius: 12px;
    color: white;
    font-family: sans-serif;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    width: 75%;
}
  
#progress{
    flex: 1;
}

#playPauseBtn{
    background-color: #111827;
    border: 1px solid transparent;
    border-radius: .75rem;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex: 0 0 auto;
    padding: .75rem 1.2rem;
    text-align: center;
    text-decoration: none #6B7280 solid;
    text-decoration-thickness: auto;
    transition-duration: .2s;
    transition-property: background-color,border-color,color,fill,stroke;
    transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
}

/* Animations */
@keyframes rainbow {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
}